html, body{
height:100%;
width:80%;
overflow:hidden;
}

.mapContainer{
position:absolute;
z-index:1;
height:100%;
width:80%;
top:0;
left:0;
}

.extra{
}

.searchContainer{
z-index:2;
position:absolute;
width:20%;
margin-left:80%;
float:right;
height:100%;
top:0;
background:white;
}

.listOfLocations{
	overflow:scroll;
	height:100%;
}

.fun_facts{
	display:none;
}
.lessInfo .actor_2{
	display:none;
}
.lessInfo .theLocations{
	display:none;
}

.lessInfo .extra{
	display:none;
}
.lessInfo .actor_3{
	display:none;
}
.lessInfo .writer{
	display:none;
}
.lessInfo .distributor{
	display:none;
}
.lessInfo .production_company{
	display:none;
}
.id{
	display:none;
}

.aLocation{
	margin:1em;
	background: white;
}
