#mainContainer{
width:100%;
height:500px;
margin-left:auto;
margin-right:auto;
background:gray;
}

.mapContainer{
z-index:1;
width:100%;
height:100%;
}

.searchContainer{
z-index:2;
position:absolute;
overflow:scroll;
width:20%;
margin-left:80%;
float:right;
height:100%;
top:0;
background:white;
}

.lessInfo .fun_facts{
	display:none;
}

.aLocation{
	margin:2em;
	background: white;
}
