#mainContainer{
width:50%;
height:500px;
margin-left:auto;
margin-right:auto;
background:gray;
}

#mapContainer{
width:50%;
height:100%;
float:left;
}

#searchContainer{
width:50%;
float:right;
height:1000px;
background:white;
}

.lessInfo .funFacts{
	display:none;
}

.aLocation{
	margin:2em;
	background: white;
}
